/Clustering.pdf
/Datasets.zip
/Final_Project_Description.pdf
/Project_401131053.zip
/Report.odt
/Report.pdf
/test copy.ipynb
/thyroid+disease.zip
/wall+following+robot+navigation+data
/wall+following+robot+navigation+data.zip
/متن مقاله.odt